apiVersion: v1
kind: Service
metadata:
  name: ai-service
  namespace: todo-app
spec:
  selector:
    app: ai-agent
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8002
  type: ClusterIP